<!-- <app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title> -->

<style>
  .hg1 {
    height: 100px;
  }

  .hg2 {
    height: 200px;
  }

  .hg3 {
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  .td-heading {
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  .inner-div {
    width: 100%;
    min-height: 25px;
    margin-top: 5px;
  }

  .inner-div img {
    cursor: pointer;
  }
  .inner-div-img {
    float: left; 
    width: 20px; 
    margin-left: 5px;
  }
  .inner-div-content {
    float: left;
    width: 91%;
    padding: 1px 0 0 0;
  }
</style>

<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize fw-normal">Pre generated report</div>
    <div style="color: #cccccc; font-size: 12px;">Pre-generated reports that you can download directly from here.</div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="td-heading">Month  - SL/ST/LastStock</div>
        <div class="hg3" style="overflow-y:auto;">
          <div class="inner-div">
            <div class="inner-div-img">
              <img src="assets/images/download.png" (click)="downloadFile()">
            </div>
            <div class="inner-div-content">Report 1 Report 1 Report 1 Report 1 Report 1 Report 1 Report 1 Report 1 Report 1
              Report 1 Report 1</div>
          </div>
          <div class="inner-div">
            <div class="inner-div-img">
              <img src="assets/images/download.png" (click)="downloadFile()">
            </div>
            <div class="inner-div-content">Pre-generated reports that you can download directly from here.</div>
          </div>
          <div class="inner-div">
            <div class="inner-div-img">
              <img src="assets/images/download.png" (click)="downloadFile()">
            </div>
            <div class="inner-div-content">Pre-generated reports that you can download directly from here.</div>
          </div>
          <div class="inner-div">
            <div class="inner-div-img">
              <img src="assets/images/download.png" (click)="downloadFile()">
            </div>
            <div class="inner-div-content">P r e - g e n e r a t e d r e p o r t s t h a t y o u c a n d o w n l o a d d i r e c t l y f r o m h e r e .</div>
          </div>
          <div class="inner-div">
            <div class="inner-div-img">
              <img src="assets/images/download.png" (click)="downloadFile()">
            </div>
            <div class="inner-div-content">Pre-generated reports that you can download directly from here.</div>
          </div>
          <div class="inner-div">
            <div class="inner-div-img">
              <img src="assets/images/download.png" (click)="downloadFile()">
            </div>
            <div class="inner-div-content">Pre-generated reports that you can download directly from here.</div>
          </div>
          <div class="inner-div">
            <div class="inner-div-img">
              <img src="assets/images/download.png" (click)="downloadFile()">
            </div>
            <div class="inner-div-content">Pre-generated reports that you can download directly from here.</div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="td-heading">Report 2</div>
        <div class="hg3" style="overflow-y:auto;">
          <div class="inner-div">
            <div class="inner-div-img">
              <img src="assets/images/download.png" (click)="downloadFile()">
            </div>
            <div class="inner-div-content">Pre-generated reports that you can download directly from here.</div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="td-heading">Report 3</div>
        <div class="hg3" style="overflow-y:auto;">
          <div class="inner-div">
            <div class="inner-div-img">
              <img src="assets/images/download.png" (click)="downloadFile()">
            </div>
            <div class="inner-div-content">Pre-generated reports that you can download directly from here.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div class="d-block p-4 text-center card-footer">
    <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">
      <span class="me-2 opacity-7">
        <i class="fa fa-cog fa-spin"></i>
      </span>
      <span class="me-1">View Complete Report</span>
    </button>
  </div> -->
</div>